header{
    background-color: gray;
    
}


/*tablet*/
  @media screen and (min-width: 670px) {
    body {
      background-color: paleturquoise;
      color: white;
    }
 
/*desktop*/
@media screen and (min-width: 1200px) {
    body {
      background-color: mediumorchid;
    }
  }
 }
